{% extends 'base.html'%}
{% block head %}{% endblock %}
{% block body %}
<div class="h-screen bg-logogreen flex">
      <!-- logo -->
      <div class="w-1/2 my-auto">
        <img class="h-7/8 mx-auto" src="{{url_for('static', filename = 'image/DRAGONFL.AI (1).png')}}" alt="dark green background logo">
        <h3 class="text-lg mx-48">Don't have an account?</h3>
        <a href="{{url_for('register_page')}}">
            <button class="btn btn-lg mx-48 w-1/2">REGISTER</button>
          </a>
    </div>
<div class="card flex-shrink-0 w-1/3 self-center shadow-2xl bg-base-100 border-white">
  <div class="card-body ">
    <form method = "post">
      {{form.hidden_tag()}}
      <div class="form-control">
        {{form.username.label(class = "")}}
        {{form.username(class = "input input-bordered bg-white", placeholder = "Username")}}
        {{form.password.label(class = "")}}
        {{form.password(class = " input input-bordered bg-white", placeholder = "Password")}}
      </div>
      <div class="form-control mt-6">
        <label class="label">
          <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
        </label>
        {{form.submit(class = "btn bg-logogreen border-white")}}  
    </div>
    </form>
  </div>
</div>
</div>

  {% block footer %}{% endblock %}
{% endblock %}