<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <form method = "POST">
    {{form.hidden_tag()}}
    {{form.username.label(class = "")}}
    {{form.username(class = "")}}
    {{form.email_address.label(class = "")}}
    {{form.email_address(class = "")}}
    {{form.password.label(class = "")}}
    {{form.password(class = "")}}
    {{form.password_confirm.label(class = "")}}
    {{form.password_confirm(class = "")}}
    {{form.submit(class = "")}}
  </form>

</body>
</html>